# .coveragerc for stackit
[run]
data_file = test-results/.coverage
source = home
plugins = django_coverage_plugin

omit =
    venv/*
    manage.py

[report]
ignore_errors = True

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):

[html]
title = StacKIT Python Test Coverage Report
directory = test-results/coverage.html

[xml]
output = test-results/unittest/unittest.xml

[json]
output = test-results/coverage.json
pretty_print = true
